.header {
  background-color: rgba(#10101d, 0.9);

  &_inner {
    @extend %inner;

    align-items: center;
    gap: 16px;
    height: $height-header;
    padding: 16px;

    @include respond("desktop") {
      flex-direction: row;
      justify-content: space-between;
      max-width: $max-width-content;
      padding: 16px 32px;
    }
  }
}
