.header {
  background-color: rgba(#10101d, 0.9);
  position: sticky;
  top: 0;
  z-index: 1;

  &_inner {
    @extend %inner;

    align-items: center;
    gap: $space-4;
    height: $height-header;
    padding: $space-4;

    @include respond("desktop") {
      flex-direction: row;
      justify-content: space-between;
      max-width: $max-width-content;
      padding: $space-4 $space-8;
    }
  }
}
