.menu {
  @include respond("desktop") {
    position: relative;
    top: 5px;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: $space-2;
    justify-content: center;

    @include respond("tablet") {
      gap: 30px;
    }

    @include respond("desktop") {
      gap: 60px;
    }
  }

  &_link {
    font: {
      size: 13px;
      weight: 700;
    }

    text-transform: uppercase;
    transition: color linear 0.3s;
    white-space: nowrap;

    &:hover {
      color: $color-primary;
    }

    &__active {
      color: $color-primary;
      pointer-events: none;
    }
  }
}
