$path-images: "/static/images";
$path-icons: "/static/icons";

/* Colors */
$color-black: #000;
$color-white: #fff;
$color-primary: #42a9ed;
$color-light: #e9e8e8;
$color-dark: #286690;
$color-darker: #272733;

/* Line heights */
$line-height-tight: 1.2;

/* Fonts */
$font-raleway: "Raleway", sans-serif;
$font-lato: "Lato", system-ui;

/* Responsive design */
$breakpoint-mobile: 320px;
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1280px;

/* Layout */
$max-width-content: 1234px;
$height-header: 100px;

/* Fields */
$height-field: 43px;
$border-radius-field: 4px;
$border-style-field: solid;
$border-width-field: 1px;
$padding-field: 10px 16px;

/* Space */
$space-1: 4px;
$space-2: 8px;
$space-4: 16px;
$space-8: 32px;
$space-12: 48px;
$space-16: 64px;
$space-20: 80px;
$space-32: 128px;
