/* Since the icon mixin and the color-grey variable are used only in this file, it is not moved to the common mixins.scss file */

$color-grey: #c3c3c3;

@mixin icon {
  align-items: center;
  display: inline-flex;
  gap: 10px;

  &::before {
    background: {
      position: 50% 50%;
      repeat: no-repeat;
      size: contain;
    }

    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
  }
}

@mixin link {
  color: $color-white;
  transition: color linear 0.3s;

  &:hover {
    color: $color-primary;
  }
}

.footer {
  background-color: #3d4050;

  &_inner {
    @extend %inner;

    align-items: center;
    font-size: 14px;
    gap: 16px;
    justify-content: space-between;
    min-height: 80px;
    padding: 16px;

    @include respond("desktop") {
      flex-direction: row;
      max-width: fit-content;
      padding: 16px 32px;
    }
  }

  &_copyright {
    line-height: 1.2;
    text-align: center;
  }

  &_payments-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond("tablet") {
      flex-direction: row;
      gap: 32px;
    }

    @include respond("desktop") {
      border: {
        left: 1px solid $color-grey;
        right: 1px solid $color-grey;
      }

      padding: 0 40px;
    }
  }

  &_payment {
    @include icon;

    color: $color-grey;

    &__qiwi::before {
      background-image: url("icons/qiwi.svg");
    }

    &__yandex::before {
      background-image: url("icons/yandex.svg");
    }

    &__web::before {
      background-image: url("icons/web.svg");
    }
  }

  &_etc {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond("tablet") {
      flex-direction: row;
      gap: 32px;
    }
  }

  &_mail {
    @include icon;
    @include link;

    &::before {
      background-image: url("icons/mail.svg");
    }
  }

  &_vk {
    @include icon;
    @include link;

    &::before {
      background-image: url("icons/vk.svg");
    }
  }
}
