.form {
  display: grid;
  gap: $space-8;
  width: 100%;

  @include respond("desktop") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &_item {
    &__range {
      @include respond("desktop") {
        grid-column: span 2;
      }
    }

    &__submit {
      @include respond("desktop") {
        grid-column: span 3;
        grid-column-start: 2;
      }
    }
  }
}
