.order {
  flex: 1 1 0;
  background: {
    image: url("#{$path-images}/bg-order.webp");
    position: 0 50%;
    size: cover;
  }

  &_inner {
    @extend %inner;

    align-items: center;
    gap: $space-12;
    padding: $space-12 $space-4 $space-16;

    @include respond("desktop") {
      gap: $space-16;
      max-width: $max-width-content;
      padding: $space-32 $space-8;
    }
  }

  &_agenda {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_header {
    font-size: 36px;
    line-height: $line-height-tight;
    text-align: center;
    text-transform: uppercase;
  }

  &_text {
    color: #bbb;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }

  &_steps {
    width: 100%;
  }

  &_form {
    width: 100%;
  }
}
