.steps {
  display: flex;
  flex-direction: column;
  gap: $space-8;

  @include respond("desktop") {
    flex-direction: row;
    gap: 0;
  }

  &_item {
    align-items: center;
    display: flex;
    gap: $space-4;
    padding: 0 $space-1;

    @include respond("desktop") {
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
    }
  }

  &_icon {
    align-items: center;
    background-color: $color-primary;
    display: flex;
    flex-shrink: 0;
    height: 100px;
    justify-content: center;
    position: relative;
    width: 100px;
    border: {
      color: $color-dark;
      radius: 50%;
      style: solid;
      width: 5px;
    }

    &::after {
      display: none;

      @include respond("desktop") {
        content: "";
        display: block;
        height: 6px;
        left: calc(100% + 14px);
        position: absolute;
        width: 106px;
        background: {
          image: url("#{$path-icons}/dots.svg");
          position: 50%;
          repeat: no-repeat;
          size: contain;
        }
      }
    }

    &::before {
      content: "";
      display: inline-block;
      height: 55px;
      width: 55px;
      background: {
        position: 50%;
        repeat: no-repeat;
        size: contain;
      }
    }

    &__search::before {
      background-image: url("#{$path-icons}/search.svg");
    }

    &__file::before {
      background-image: url("#{$path-icons}/file.svg");
    }

    &__percent::before {
      background-image: url("#{$path-icons}/percent.svg");
    }

    &__message::before {
      background-image: url("#{$path-icons}/message.svg");
    }

    &__money::before {
      background-image: url("#{$path-icons}/money.svg");
    }
  }

  &_item:last-child .steps_icon::after {
    @include respond("desktop") {
      display: none;
    }
  }

  &_text {
    font-size: 16px;
    line-height: $line-height-tight;
    padding: 0 $space-1;

    @include respond("tablet") {
      text-align: center;
    }
  }
}
