.promo {
  color: $color-black;
  position: relative;

  &::before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: -$height-header;
    width: 100%;
    z-index: -1;
    background: {
      image: url("#{$path-images}/bg-promo.webp");
      position: 0 50%;
      size: cover;
    }
  }

  &_inner {
    @extend %inner;

    gap: 40px;
    padding: $space-12 $space-4;

    @include respond("desktop") {
      justify-content: space-between;
      max-width: $max-width-content;
      min-height: 450px;
      padding: $space-20 $space-8 180px;
    }
  }

  &_header {
    line-height: $line-height-tight;
    text-transform: uppercase;
    font: {
      size: 36px;
      weight: 700;
    }

    @include respond("tablet") {
      font-size: $space-12;
    }
  }

  &_offer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: $space-4;

    @include respond("desktop") {
      gap: $space-8;
    }
  }

  &_text {
    font-weight: 700;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: $space-1;
  }

  &_list-item {
    line-height: $line-height-tight;

    &::before {
      content: "—";
      opacity: 0.75;
      padding-right: $space-1;
    }
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond("tablet") {
      flex-direction: row;
      gap: $space-8;
    }
  }
}
