.button {
  background-color: $color-primary;
  color: $color-white;
  cursor: pointer;
  font-size: 14px;
  height: $height-field;
  padding: $padding-field;
  text-transform: uppercase;
  transition: background 0.15s ease-in-out;
  border: {
    color: $color-white;
    radius: $border-radius-field;
    style: $border-style-field;
    width: $border-width-field;
  }

  &:hover {
    background-color: $color-dark;
  }

  @include respond("tablet") {
    min-width: 180px;
  }

  &__submit {
    font: {
      size: 15px;
      weight: 700;
    }

    width: 100%;
  }

  &__secondary {
    background-color: $color-white;
    border-color: #6f6d7b;
    color: $color-black;

    &:hover {
      background-color: $color-light;
    }
  }
}
