.input {
  background-color: #dfdfe0;
  color: $color-darker;
  font-size: 18px;
  height: $height-field;
  padding: $padding-field;
  width: 100%;
  border: {
    color: $color-white;
    radius: $border-radius-field;
    style: $border-style-field;
    width: $border-width-field;
  }

  &::placeholder {
    color: $color-darker;
  }
}
