.range {
  width: 100%;

  &_text {
  }

  &_input {
    appearance: none;
    background-color: $color-light;
    border: {
      color: $color-white;
      style: solid;
      width: 1px;
      radius: 4px;
    }
    position: relative;
    width: 100%;
    height: 8px;
  }

  &_input::-webkit-slider-thumb {
    appearance: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: {
      width: 3px;
      style: solid;
      color: $color-dark;
    }
    cursor: pointer;
    background: $color-primary;
  }

  &_value {
  }
}
