/* Since the slider-thumb mixin is used only in this file, it is not moved to the common mixins. */

@mixin slider-thumb {
  appearance: none;
  background-color: $color-primary;
  height: 24px;
  width: 24px;
  border: {
    color: $color-dark;
    radius: 50%;
    style: solid;
    width: 4px;
  }
}

.range {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &_text {
    flex: 1;
    font-size: 18px;
  }

  &_input {
    appearance: none;
    background-color: $color-light;
    cursor: pointer;
    height: 10px;
    margin-top: 13px;
    width: 100%;
    border: {
      color: $color-white;
      radius: 4px;
      style: solid;
      width: 1px;
    }

    &::-webkit-slider-thumb {
      @include slider-thumb;
    }

    &::-moz-range-thumb {
      @include slider-thumb;
    }
  }

  &_value {
    font: {
      size: 18px;
      weight: 700;
    }
  }
}
